
body{
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    position: fixed;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
    height:5em;
    box-shadow: 3px 2px 1px #0000002b, 2px 1px 0px #00000014;
    background-color: white; 
    z-index:1;
}

.header-logo{
    display:flex;
    margin-left:2em;
    flex-direction:row;
    align-items:center;
}

.texto-logo{
    margin:0px;
    font-family:"Cookie";
    font-size:2em;
}

.logo{
    width:40px;
}

.contenedor-nav{
    display: flex;
    margin-right:5em;
}

.header-nav{
    display:flex;
    align-items:center;
}

.nav{
    display:flex;   
    flex-direction:row;
}

.nav li{
    margin:1em;
}

.item-enlace{
    font-family:"Montserrat","Helvetica Neue";
    color:black;

}


.contenedor{
    background-image:url("images/fondo.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    height:100vh;
    align-items:center;
}

.contenedor-textos{
    justify-content:center;
    display:flex;
    flex-direction:column;
    margin-left:10%;
}

.contenedor-textos-subtitulo{
    margin-top: 2em;
    margin-bottom:2em;
}

.contenedor-textos-subtitulo  p{
    font-size:1.2em;
}

.btn-store {
    color: #777777;
    min-width: 254px;
    padding: 12px 20px !important;
    border-color: #dddddd !important;
  }
  
  .btn-store:focus, 
  .btn-store:hover {
    color: #ffffff !important;
    background-color: #168eea;
    border-color: #168eea !important;
  }
  
  .btn-store .btn-label, 
  .btn-store .btn-caption {
    display: block;
    text-align: left;
    line-height: 1;
  }
  
  .btn-store .btn-caption {
    font-size: 24px;
  }


.titulo{
    font-size:70px;
    color:white;
    font-weight:bold;
    text-align:center
}

.subtitulo{
    font-size:20px;
    color:white;
    text-align:center;
}

.texto-central{
    text-align:center;
    font-family:"Montserrat";
}

.slider{
    margin:10em;
}

.texto-card{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    box-shadow: 3px 2px 1px #0000004d;
    padding: 10px;
}

.card-container{
    padding:5px;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;

}

.margin-bottom{
    margin-bottom:10em;
}

.col-6{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    max-width:500px;
}
.titulo-producto{
    font-family:'Krona One';
    font-size:30px;
}


.texto-punto{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    color:white;
    padding:5px;
    background-color:#4e4e4ee6;
    height:3em;
    line-height:2em;
}


.created-by{
    display:flex;
    flex-direction:row;
}


.created-by > img{
    height:2em;
    margin-left:1em;
}


@media(max-width:610px){
    .nav{
        font-size:10px;
    }
}

@media(max-width:458px){
    .texto-logo{
        font-size:1.1em;
    }
    .nav{
        font-size:9px;
    }

    .logo{
        width:30px;
    }

    .contenedor-nav{
        margin-right:1em;
    }
    

}


@media(min-width:1318px){
    .contenedor{
        background-size:cover;
    }
}